@import "~bootstrap/scss/functions"; 

$dark1: hsla(216, 100%, 4%, 1);
$dark2: hsla(214, 35%, 37%, 1);
$dark3: #80668aff;
$light3: #a190a8ff;
$light2: #c3bbc7ff;
$light1: #e5e8eb;

$highlight:#ffd60a;
$highlight1: white;

$margin: 4px;
$padding: 4px;

$border-color: $dark1;
$border-width: 2px;
$border-style: solid;
$border-radius: 0px;
$border: $border-width $border-style $border-color;

// boostrap override
$primary: $dark1;
$btn-link-hover-color: $highlight;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";
