<form id="add-note-form" [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Enter description" formControlName="description" autofocus>
    <input type="number" placeholder="Enter estimate" formControlName="estimate">
    <input type="date" placeholder="Enter date" formControlName="date">
    <button class="submit-button" type="submit">
        Add
    </button>
</form>

<section class="note" *ngFor="let note of notes">
    <h2>{{ note.date }} <span class="right">(total : {{ note.totalEstimate() }})</span></h2>
    <ul>
        <li *ngFor="let detail of note.details">
            {{ detail.description }}<span *ngIf="!!detail.estimate" class="right"> ({{detail.estimate}})</span>
        </li>
    </ul>
</section>