@use 'sass:color';
@use 'custom';


$left: 0px;
$top: 0px;
$width: 100px;

$primary-background-color: custom.$light1;
$primary-color: color.change(custom.$dark1, $blackness: 80%);
$primary-button-background-color: custom.$dark2;
$primary-button-color: white;
$primary-button-highlight-background-color: custom.$light2;
$primary-button-highlight-color: custom.$dark1;
$primary-button-border: 0px custom.$border-style custom.$dark1;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: custom.$dark1;
}

.menu-container {
  -ms-flex: 0 0 $width !important;
  flex: 0 0 $width !important;
  width: $width !important;
}
