$dark1: #3c114dff;
$dark2: #5e3b6bff;
$dark3: #80668aff;
$light3: #a190a8ff;
$light2: #c3bbc7ff;
$light1: #e5e5e5;

$margin: 4px;
$padding: 4px;

$border-color: $dark1;
$border-width: 2px;
$border-style: solid;
$border-radius: 0px;
