@use '@/app/custom';
@use 'sass:color';

$color: white;
$background-color: custom.$dark1;

$button-color: color.change(custom.$dark2, $lightness: 80%);;
$button-background-color: $background-color;
$button-highlight-background-color: custom.$light1;
$button-highlight-color: custom.$dark1;

.menu {
  background: custom.$dark2;
  background: linear-gradient(270deg, custom.$dark2 0%, custom.$dark1 100%);
  background: -moz-linear-gradient(270deg, custom.$dark2 0%, custom.$dark1 100%);
  background: -webkit-linear-gradient(270deg, custom.$dark2 0%, custom.$dark1 100%);

  .logo {
    color: $color;
    display: block;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
  }

  .menu-button {
    color: $button-color;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: block;

    &:hover,
    &:focus,
    &.active {
      color: custom.$highlight1;
      background-color: rgba($color: black, $alpha: 0.2);
    }
  }
}
