<div>
    <span class="logo">K</span>
</div>
<nav>
    <app-note-button [routerLink]="links.learning.rel" className="fas fa-graduation-cap fa-fw fa-2x">
        {{ links.learning.title }}
    </app-note-button>

    <app-note-button [routerLink]="links.hours.rel" className="fas fa-calendar-alt fa-fw fa-2x">
        {{ links.hours.title }}
    </app-note-button>

    <app-note-button [routerLink]="links.todos.rel" className="fas fa-clipboard-list fa-fw fa-2x">
        {{ links.todos.title }}
    </app-note-button>
</nav>