<div>
    <span class="logo">K</span>
</div>
<nav>
    <a class="note-button" routerLink="/learning">
        <span class="fas fa-graduation-cap fa-fw fa-2x" alt="Learning"></span>
        <span>learn</span>
    </a>
    <a class="note-button" routerLink="/hours">
        <span class="far fa-calendar-alt fa-fw fa-2x" alt="Hours"></span>
        <span>hours</span>
    </a>
    <a class="note-button" routerLink="/todos">
        <span class="fas fa-clipboard-list fa-fw fa-2x" alt="Todos"></span>
        <span>todos</span>
    </a>
</nav>