export CORS_ALLOW_ORIGIN="http://localhost:8080"
export API_SERVER_PORT="8090"
export SQL_HOST="172.17.0.2"
export SQL_USERNAME="kyytto"
export SQL_PASSWORD="Kyytto123"
export SQL_DATABASE="kyytto"
export LOWDB_FILENAME="kyytto-test.json"
