<form id="add-note-form" [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Enter description" formControlName="description" autofocus>
    <button class="submit-button" type="submit">
        Add
    </button>
</form>

<section class="note">
    <h2>Todos</h2>
    <div *ngFor="let note of notes">
        <input type="checkbox" [id]="note.description" ([ngModel])="note.done">
        <label [for]="note.description">{{ note.description }}</label>
    </div>
</section>