@import './globals.scss';

body {
  background-color: $platinum;
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

$side-bar-left: 0px;
$side-bar-top: 0px;
$side-bar-width: 75px;

$default-border: 2px solid $russian-violet;
$default-border-radius: 0px;
$default-padding: 4px;
$default-margin: 4px;

button {
  border: $default-border;
  border-radius: $default-border-radius;
  font-size: 1em;
  font-weight: 400;
  color: white;
  background-color: $russian-violet;
  padding: $default-padding;
}
