// /* CSS HEX */
// --russian-violet: #3C114Dff;
// --english-violet: #5E3B6Bff;
// --chinese-violet: #80668Aff;
// --heliotrope-gray: #A190A8ff;
// --lavender-gray: #C3BBC7ff;
// --platinum: #E5E5E5ff;

// /* CSS HSL */
// --russian-violet: hsla(283, 64%, 18%, 1);
// --english-violet: hsla(284, 29%, 33%, 1);
// --chinese-violet: hsla(283, 15%, 47%, 1);
// --heliotrope-gray: hsla(283, 12%, 61%, 1);
// --lavender-gray: hsla(280, 10%, 76%, 1);
// --platinum: hsla(0, 0%, 90%, 1);



/* SCSS HEX */
$russian-violet: #3C114Dff;
$english-violet: #5E3B6Bff;
$chinese-violet: #80668Aff;
$heliotrope-gray: #A190A8ff;
$lavender-gray: #C3BBC7ff;
$platinum: #E5E5E5ff;

/* SCSS HSL */
$russian-violet: hsla(283, 64%, 18%, 1);
$english-violet: hsla(284, 29%, 33%, 1);
$chinese-violet: hsla(283, 15%, 47%, 1);
$heliotrope-gray: hsla(283, 12%, 61%, 1);
$lavender-gray: hsla(280, 10%, 76%, 1);
$platinum: hsla(0, 0%, 90%, 1);

/* SCSS RGB */
$russian-violet: rgba(60, 17, 77, 1);
$english-violet: rgba(94, 59, 107, 1);
$chinese-violet: rgba(128, 102, 138, 1);
$heliotrope-gray: rgba(161, 144, 168, 1);
$lavender-gray: rgba(195, 187, 199, 1);
$platinum: rgba(229, 229, 229, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #3C114Dff, #5E3B6Bff, #80668Aff, #A190A8ff, #C3BBC7ff, #E5E5E5ff);
$gradient-right: linear-gradient(90deg, #3C114Dff, #5E3B6Bff, #80668Aff, #A190A8ff, #C3BBC7ff, #E5E5E5ff);
$gradient-bottom: linear-gradient(180deg, #3C114Dff, #5E3B6Bff, #80668Aff, #A190A8ff, #C3BBC7ff, #E5E5E5ff);
$gradient-left: linear-gradient(270deg, #3C114Dff, #5E3B6Bff, #80668Aff, #A190A8ff, #C3BBC7ff, #E5E5E5ff);
$gradient-top-right: linear-gradient(45deg, #3C114Dff, #5E3B6Bff, #80668Aff, #A190A8ff, #C3BBC7ff, #E5E5E5ff);
$gradient-bottom-right: linear-gradient(135deg, #3C114Dff, #5E3B6Bff, #80668Aff, #A190A8ff, #C3BBC7ff, #E5E5E5ff);
$gradient-top-left: linear-gradient(225deg, #3C114Dff, #5E3B6Bff, #80668Aff, #A190A8ff, #C3BBC7ff, #E5E5E5ff);
$gradient-bottom-left: linear-gradient(315deg, #3C114Dff, #5E3B6Bff, #80668Aff, #A190A8ff, #C3BBC7ff, #E5E5E5ff);
$gradient-radial: radial-gradient(#3C114Dff, #5E3B6Bff, #80668Aff, #A190A8ff, #C3BBC7ff, #E5E5E5ff);

body {
    background-color: $platinum;
}