@use '@/custom';

$color: white;
$background-color: custom.$dark1;

$button-color: $color;
$button-background-color: $background-color;
$button-highlight-background-color: custom.$light1;
$button-highlight-color: custom.$dark1;

.menu {
  color: $color;
  background: custom.$dark2;
  background: linear-gradient(270deg, custom.$dark2 0%, custom.$dark1 100%);
  background: -moz-linear-gradient(270deg, custom.$dark2 0%, custom.$dark1 100%);
  background: -webkit-linear-gradient(270deg, custom.$dark2 0%, custom.$dark1 100%);

  .logo {
    display: block;
    text-align: center;
    font-size: xx-large;
  }

  .menu-button {
    color: $button-color;
    background-color: transparent;
    opacity: 90%;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 8px 0px;

    .icon {
      display: block !important;
      margin-bottom: 8px;
    }

    &:hover,
    &:focus,
    &.active {
      color: custom.$highlight1;
      background-color: rgba($color: black, $alpha: 0.2);
    }
  }
}
