@use '../defaults';

$color: white;
$background-color: defaults.$dark1;

$button-color: $color;
$button-background-color: $background-color;
$button-highlight-background-color: defaults.$light1;
$button-highlight-color: defaults.$dark1;

.menu {
  color: $color;
  background: defaults.$dark2;
  background: linear-gradient(270deg, defaults.$dark2 0%, defaults.$dark1 50%);
  background: -moz-linear-gradient(270deg, defaults.$dark2 0%, defaults.$dark1 50%);
  background: -webkit-linear-gradient(270deg, defaults.$dark2 0%, defaults.$dark1 50%);

  height: 100%;
  .logo {
    display: block;
    text-align: center;
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu-button {
    color: $button-color;
    background-color: transparent;
    opacity: 90%;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 8px 0px;

    .icon {
      display: block !important;
      margin-bottom: 8px;
    }

    &:hover,
    &:focus,
    &.active {
      color: defaults.$highlight1;
      opacity: 100%;

    }
  }
}
