$sidebar-size: 75px;

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $sidebar-size;
    background-color: #006666;
    color: white;
    font-weight: 600;
}

.sidebar img {
    margin: 0 16px;
}

.content {
    position: relative;
    margin-left: $sidebar-size;
    padding:0px;
    width: 300px;
    height: 100%;
    color: white;
    font-weight: 600;
}